:root {
    --main-color: #204639;
    --secondary-color: #5A4B46;
    --tertiary-color: #F2D8CE;
    --quad-color: #F2D5ED;
    --font-family-primary: "ff-scala-sans-pro", sans-serif;
    --font-family-secondary: "modern-love-grunge", sans-serif;
    --base-font-size: 16px;
    --base-font-weight: 400;
    --background-first: url(./images/bv7.jpg);
    --background-second: url(./images/bb2.jpg);
    --background-third: url(./images/bb3.jpg);
}

/* MQ */
html {
    height: 100%;
    font-size: var(--base-font-size);
}

/* Body has some values in pixels. MQ */
body {
    height: 100%;
    font-family: var(--font-family-primary);
    font-weight: var(--base-font-weight);
    font-style: normal;
    color: var(--main-color);
    margin: 0;
}


/* Parallax effect still in beta  */
.parallax {
    min-height: 1000px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax.first {
    background-image: var(--background-first);
}

.parallax.second {
    background-image: var(--background-second);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 6rem 0;
    gap: 1.6em;
}

.parallax.third {
    background-image: var(--background-third);
}

/* MQ */
nav {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

/* MQ. Has some pixel values  */
.navigation-list a {
    color: var(--main-color);
    text-decoration: none;
    font: 20px var(--font-family-primary);
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

nav.circle-behind a::before,
nav.circle-behind a::after {
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid var(--main-color);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

nav.circle-behind a::after {
    border-width: 2px;
    transition: all 0.4s;
}

nav.circle-behind a:hover::before {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

nav.circle-behind a:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/* MQ */
h1 {
    font-family: var(--font-family-secondary);
    font-weight: var(--base-font-weight);
    font-style: normal;
    background-image: linear-gradient(90deg, var(--secondary-color), #fff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 100px 0 0 150px;
    padding-top: 2rem;
    font-size: 10vw;
}

/* Design for main can go below */
/* Pixel value here. MQ */
#self-introduction {
    height: 500px;
}

/* Use flexbox here: Like make the section a flexbox to set the p in the center???? */
#self-introduction p {
    text-align: center;
}

/* Design for project-card starts here */
h2 {
    text-align: center;
    width: 100%;
}

.project-card {
    display: flex;
    max-width: 320px;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    background-color: white;
    box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
    transition: transform 0.8s ease, box-shadow 0.8s ease, background-color 0.8s ease;
}

.card-img {
    width: 100%;
    height: 200px;
    border-radius: 0.3em;
    background-position: center;
    background-size: cover;
}

.project-card:nth-of-type(1) .card-img {
    background-image: url(./images/Projects/awakeFoxv2.jpg);
}

.project-card:nth-of-type(2) .card-img {
    background-image: url(./images/Projects/beastiev2.jpg);
}

.project-card:nth-of-type(3) .card-img {
    background-image: url(./images/Projects/birdiev2.jpg);
}

.project-card:nth-of-type(4) .card-img {
    background-image: url(./images/Projects/foxv2.jpg);
}

.project-card:nth-of-type(5) .card-img {
    background-image: url(./images/Projects/logov2.jpg);
}

.project-card:nth-of-type(6) .card-img {
    background-image: url(./images/Projects/swanv2.jpg);
}

.project-card:active,
.project-card:focus
{
    transform: scale(1.3);
    box-shadow: 0 20px 30px 20px rgba(0,0,0,0.5);
    background-color: var(--quad-color);
    
}